*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }
.nav_responsive-ul {
display: none;
}
.nav{
  background-color: #2A2626 ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 13px;
}
.nav_li{
  list-style: none;
  display: inline-block;
  margin: 5px;
}
.nav_li a{
  color: #fff;
  text-decoration: none;
}
.nav_li:hover{
transform:scale(1.1);
}
.nav_responsive-button{
    float: right;
    font-size: 29px;
    color: rgb(0, 0, 0);
  }
.nav_responsive-button button{
  outline: none;
}
/*
@media only screen and (max-width: 500px) {
  .nav_ul{
    display: none;
  }
  .nav_responsive-ul{
    display: inline;
    width: 100%;
    height: 26px;
  }
  .nav_responsive-li a{
    text-decoration: none;
    color: none;
  }

}
*/
