*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
.nav_responsive-ul {
 display: none;
}
.nav{
  background-color: #2A2626 ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_li{
  list-style: none;
  display: inline-block;
  margin-top: 13px;
}
.nav_li a{
  color: #fff;
  text-decoration: none;
  padding: 8px;
  
}
.nav_li:hover{
transform:scale(1.1);
}
.nav_responsive-button{
    float: right;
    font-size: 29px;
    color: rgb(0, 0, 0);
  }
.nav_responsive-button button{
  outline: none;
}
.imagen{
 float: right;
 width: 190px;
 margin-right: 200px;
}
.Bienvenida{
  margin: 79px 125px 100px 60px;
  font-size: 50px;
}
.presentación{
padding: 50px;
text-align: justify;
}
.presentación_quien_soy{
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.presentación_quien_soy-p{
  font-size: 25px;
  margin-bottom: 20px;
}
.presentación_quien_soy-p2{
  font-size: 25px
}
.habilidades-h2{
 margin-left: 50px;
 margin-bottom: 20px;
}
.habilidades_li{
  list-style: none;
}
.habilidades_li-texto{
display: inline-block;
}
.habilidades_li-imagen_html{
width: 150px;
}
.habilidades_li-imagen_css{
  width: 150px;
}
.habilidades_li-imagen_javascript{
  width: 150px;
}
.habilidades_li-imagen_git{
  width: 150px;
}
.footer{
  display: inline-block;
  background-color: #2A2626;
  display: flex;
  justify-content: flex-end;
  clear: right;
}
.footer-text{
  color: #fffefe;
}
.boton{
  font-size: 25px;
}
.contacto{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.contacto-contactame{
  margin-bottom: 100px;
  font-size: 50px;
}
.contacto_ul-imagen_insta{
  width: 300px;
}
.contacto_ul-imagen_face{
  width: 300px;
}
.contacto_ul-imagen_twitter{
  width: 300px;
}
.contacto_ul-imagen_wp{
  width: 300px;
}
.mail{
text-align: center;
}
.mail_h2{
  font-size: 20px;
}
/*
@media only screen and (max-width: 500px) {
  .nav_ul{
    display: none;
  }
  .nav_responsive-ul{
    display: inline;
    width: 100%;
    height: 26px;
  }
  .nav_responsive-li a{
    text-decoration: none;
    color: none;
  }

}
*/
@media only screen and (max-width: 590px) {
  .imagen{
    display: none;
  }
  
}
@media only screen and (max-width: 764px) {
 .boton{
    margin-left:50px;
    margin-bottom: 50px;
  } 
}