*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }
.nav_responsive-ul {
display: none;
}
.header{
  background-color: #1f1c1c ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px
}
.nav_li{
  list-style: none;
  display: inline-block;
  margin: 5px;
}
.nav_li a{
  color: #fff;
  text-decoration: none;
}
.nav_li:hover{
transform:scale(1.1);
}